<div class="event-container">
  <div class="row mt-1">
    <div id="<%= dom_id event %>">
      <p>
        <strong>User:</strong>
        <%= event.user_id %>
      </p>

      <p>
        <strong>Name:</strong>
        <%= event.name %>
      </p>

      <p>
        <strong>Date:</strong>
        <%= event.date %>
      </p>


    <p> hello </p>
    </div>
  </div>
</div>
