<div class="event-container">
  <p>
  <div class="event-name text-center">
    <%= event.name %>
  </p>
  <div>
      <strong>Date:</strong>
      <%= event.date %>
      <div class= "clic-picture text-center">
      <p><%= link_to "Cliquez pour voir les photos", pictures_path %></p>
      </div>
    </div>
  </div>
</div>
