<div class="event-container">

  <p>
    <div class="event-name">
      <%= event.name %>
    </p>

    <div>
      <strong>Date:</strong>
      <%= event.date %>
      <p>Cliquez pour voir les photos</p>
    </div>
    </div>
    </div>
