<p style="color: green"><%= notice %></p>
<div class="event text-center">
  <h1>Evénements</h1>
    <div id="events">
      <div class="event-name text-center">
      <% @events.each do |event| %>
        <%= link_to event_path(event) do %>
        <%= render event %>
        <% end %>
      <% end %>
      </div>
    </div>
   </div>
<%= link_to "Ajouter événement", new_event_path %>
