<p style="color: green"><%= notice %></p>

<h1>Photos</h1>

<div id="pictures">
  <% @pictures.each do |picture| %>
    <%= render picture %>
    <p>
      <%= link_to "Show this picture", picture %>
    </p>
  <% end %>
</div>

<%= link_to "Nouvelles photos", new_picture_path %>
