.event-container{
  text-decoration: none;
  padding: 150px 100px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: opacity 0.3s ease;
  background-image: url(tortues.jpg);
  background-size: cover;
  background-position: center;

}
