.navbar {
  background: rgb(14, 13, 13);
  font-weight: bolder;
}

.navbar-lewagon {
  justify-content: space-between;
  background: rgb(114, 112, 108);
  opacity: 0.8;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
